
{% extends "admin.html" %}


{% block body %}

<body style="text-align: center; background-color: rgb(250, 244, 193);">
    

    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
        <br>
        <br>
        <br>

        <br>


        <h4><strong><u>Confirmation</u></strong> </h4>


        
        {% from "_formhelpers.html" import render_field %}
            <form method="POST"  action="/forget_password/" role="">
                <dl>
                    {{ render_field(form.username) }}
                </dl>

                <p><input type="submit" value="Confirm" ></p>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}} </p>
            {% endif %}
    </div>

        
    </body>
{% endblock %}


