<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <title>Prc, we are moving forward</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/sign_up_page.css')}}">
        <meta name="viewport" content="width='device-width' initial-scale=1">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/download.ico')}}">


    </head>

    <style>
    body{
        text-align: center;
        font-family: cursive;
    }




    .topnav {
        background-color:transparent;
        width: 1500px;
        height: 28px; 
        overflow: auto;

    }

    .topnav a{
        float: left;
        color: blue;
        text-align: right;
        padding: 10px 20px;
        text-decoration: white;
        font-size: 17px;
    }
    </style>

       

          

<body style="text-align: center; background-color: rgb(250, 244, 193);">
    <nav class="topnav">
        <a href="#"><b>Back</b></a>
        
    </nav>

    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
        <br>
        <br>
        <br>

        <br>


        <h4><strong><u>Confirm Code</u></strong> </h4>
        <p style="text-align: center;">A confirmatory code has been sent to your email. <br> Please check and type it in the box provided below </p>


        
        {% from "_formhelpers.html" import render_field %}
            <form method="POST"  action="" role="">
                <dl>
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm_password) }}
                </dl>

                <p><input type="submit" value="Submit" ></p>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}} </p>
            {% endif %}
    </div>

        
    <script src="{{ url_for('static', filename='js/validation.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/jquery-3.5.1.slim.min.js')}} "></script>
  
        
    </body>
    </html>

